[Unit]
Description=Hello World Go app
Requires=network.target remote-fs.target syslog.service 
After=network.target remote-fs.target syslog.service 

[Service]
Type=simple
PIDFile=/var/run/truami.pid
User=root
Group=root
ExecStart=/bin/sh -c '/opt/demo-app/truami'
ExecStop=kill -9 $(cat /var/run/truami.pid)
Restart=on-failure
SyslogIdentifier=truami
WorkingDirectory=/opt/demo-app/

[Install]
WantedBy=multi-user.target
